*{
  margin:0px;
  padding:0px;
  font-family: sans-serif;
  font-size: 16px;
}
.header{
 width: 100%;
 height: 100vh;
 background:linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(images/bg-image.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
nav{
  display: flex;
  padding: 3% 5%;
  justify-content: space-between;
  align-items:center;
  
}
.logo{
  color:#fff;
  font-size: 20px;
  border:2px solid red;
}
span{
  font-size: 24px;
  color:red;
}
nav .logo:hover{
  color: aqua;
  cursor: pointer;
}
.nav-manu{
  flex: 1;
  text-align: right;
}
.nav-manu ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 12px;
    position: relative;
}
.nav-manu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
.nav-manu ul li::after{
content: '';
width:0px;
height: 6px;
background: rgb(129, 11, 11);
display: block;
margin: auto;
position:absolute;
bottom: -10px;
transition: .5s;
}
.nav-manu ul li:hover:after{
width: 100%;
}
.title-description{
 width: 90%;
color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
line-height: 30px;
font-size: 50px;
}
.title-description h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title-description p {
  font-size: 25px;
  margin-bottom: 10px;
}
.btn{
  width: 180px;
  height: 40px;
  color: #fff;
  border: 3px solid red;
  background-color: green;
  text-align: center;
  margin-left: 20px;

}
.btn:hover{
  color: rgb(172, 168, 185);
  font-size: 20px;
}
.main-contant {
 display: inline-block;
 height: 500px;;
 background-color: rgb(174, 174, 189);

}
nav span {
  display: none;
}
@media (max-width:700px){
  .title-description{
    width: 90%;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   line-height: 30px;
   font-size: 50px;
   text-align: center;
   }  
   .title-description h2 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
  } 
  nav span {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  } 
  .nav-manu{
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 100vh;
    width: 300px;
    top:0px;
    right: -300px;
    text-align: left;
    z-index: 1;
    transition: 1s;
  }
  .nav-manu ul li {
    display: block;
    margin: 10,0;
  }
  .nav-manu ul{
    padding: 20px;
    line-height: 45px;
  }
  .logo span{
    display: flex;
    font-size: px;
  }
  .logo{
    font-size: 20px;
    border: none;
  }
  .title-description p {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: justify;
  }
}



